exports.config = {
  qiniu: {
    accessKey: '',
    secretKey: ''
  },
  address: process.env.NODE_ENV === 'development' ? '<dev address>' : '<produce address>',
  cdn: {
    bucket: '<bucket name of cdn>',
    url: '<url of cdn>',
  },
  pan: {
    bucket: '<bucket name of pan>',
    url: '<url of pan>',
  }
}
