exports.config = {
  qiniu: {
    accessKey: '',
    secretKey: ''
  },
  cdn: {
    bucket: '<bucket name of cdn>',
    url: '<url of cdn>',
    callback: '<call back of cdn>'
  },
  pan: {
    bucket: '<bucket name of pan>',
    url: '<url of pan>',
    callback: '<call back of pan>'
  },
}
